.appbar-container {
    width: 100%;
    height: 7vh;

    background: var(--bg2);
    
    display: flex;
    align-items: center;
}

.appbar-container > span {
    height: 100%;

    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: var(--bg1);
    color: var(--t1);
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1.3em;

    display: flex;
    align-items: center;

    text-align: center;
}